YEAR ONE // 2014:
✓ … Have a team, Have fun! Good consistent roster.
X … Win sectionals, and make regionals.
✓ … A guaranteed year two.
✓ … Scrimmage with local teams.
X … Camping trip
WORD OF THE YEAR > Development.

YEAR TWO // 2015:
Make new Goals for year three & four.
Reassess Year Five goal.
Continue building, retain team core, build consistency and chemistry.  
Make regionals! Have more fun at sectionals!  
Camping trip!  
Host a tournament!  
Officially Volunteer at a PUFF event as a team to show community involvement. Contact Jeremy Norden.  
WORD OF THE YEAR > Established.

YEAR THREE // 2016:
Draft Year 6 Goals
Reassess Year 4 & 5 goals
Continue building, grow team core, build consistency and chemistry.  
Make regionals and don’t get last.  
Officially Volunteer at a 2 PUFF events as a team to show community involvement. Contact Jeremy Norden.  
Camping again!   
WORD OF THE YEAR > Travel

YEAR FOUR // 2017:
Draft Year 7 Goals
Reassess Year 5 goals
Make regionals and don’t play in last place game.  
Go to 4 tournaments!  
Officially Volunteer at a 2 PUFF events as a team to show community involvement. Increased attendance of RIPPERS. Contact Jeremy Norden.  
Annual camping trip now a tradition :)   
WORD OF THE YEAR > Undeniable!

YEAR FIVE // 2018:
Draft Year 8 Goals
Reassess Year 6 goals
Top 4 (out of 8) finish at Regionals.  
Go to a tournament really far away!  
Host a clinic through PUFF  
Have an established coach.  
WORD OF THE YEAR > #Impact.
