<dl class="tabs radius" data-tab>
  <dd class="active"><a href="#players">Players</a></dd>
  <dd><a href="#leaders">Leaders</a></dd>
  <dd><a href="#stats">Stats</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="players">
    <div class="row" data-equalizer>
      <div class="large-4 columns panel" data-equalizer-watch>
        Player 1
      </div>
      <div class="large-4 columns panel" data-equalizer-watch>
        Player 2
      </div>
      <div class="large-4 columns panel" data-equalizer-watch>
        Player 3
      </div>
    </div>
  </div>
  <div class="content" id="leaders">
    <p>Leader Profiles and Roles go here</p>
  </div>
  <div class="content" id="stats">
    <p>Myabe some stats?</p>
  </div>
</div>
